<div class="row">
  <div class="panel panel-default content-panel-belowtop">
      <h2 id="intro-bjjt-title"><span class="bjjt"><%=bjjtech.general.title %>: A technique for every position.</span></h2>
        <p class="bjjt_p">In a ground fight, you need to have base, mobility, and ability from every position.
        Locksmiths pick locks. Jits fighters need to know how to untangle positions.
        <%= bjjtech.general.dotcom %> is a lock-picking guide for Brazilian Jiu-Jitsu practitioners.
      </p>

  </div>
</div>
