<nav class="navbar navbar-fixed-bottom navbar-bottom-bc" role="navigation">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-right">
<li>© Copyright <%=bjjtech_web.company.birthyear%>
<%    if (bjjtech_web.general.year != bjjtech_web.company.birthyear) { %>- <%=bjjtech_web.general.year%>
<%    }%><%=bjjtech_web.company.name %></li>
</ul>
</div>
</div>
</nav>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/js/ie10-viewport-bug-workaround.js"></script>
