
    <footer class="footer bjjt_footer">
      <div class="container">
        <p class="text-muted text-right">© Copyright <%=bjjtech.company.birthyear%>
        <%    if (bjjtech.general.year != bjjtech.company.birthyear) { %>- <%=bjjtech.general.year%>
        <a href="<%=bjjtech.company.url %>"><%    }%><%=bjjtech.company.name %></a></p>
      </div>
    </footer>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/js/ie10-viewport-bug-workaround.js"></script>
