<nav class="navbar navbar-fixed-bottom bjjt_footer bjjt_footernav_color">
      <div class="">
             <div class="container bjjt_footer_container">

            <ul class="nav navbar-nav horizontal">

                <li class="">
                    <a href="http://www.jitshappens.com" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-rss"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://twitter.com/austinjiujitsu" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://www.facebook.com/austinjiujitsu.jitshappens" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://www.youtube.com/austinjiujitsu" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://picasaweb.google.com/dthomasjiujitsu" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-picture-o"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://plus.google.com/+DavidThomas1" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://www.instagram.com/davecthomas/" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>

            <li>
                <a href="http://austinjiujitsu.com" target="_self" class=" ajjalignlower ajjnowraplogo bjjt_footermenu bjjt_footermenu_ajj ajjfont">AustIn JIu-JItsu<span class="ajjcopy ajj_hidetiny">© 2016&nbsp;</span>
                </a>

            </li>

        </ul>
    </div>
</div>
    <!--container-->
</nav>
<!--navbar-->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/js/ie10-viewport-bug-workaround.js"></script>
