
<footer>
   <nav class="navbar navbar-fixed-bottom bjjt_footer bjjt_footernav_color">
      <div class="">
             <div class="container bjjt_footer_container">

            <ul class="nav navbar-nav horizontal">

                <li class="">
                    <a href="http://www.jitshappens.com" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-rss"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://twitter.com/davecthomas" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://www.facebook.com/groups/seattlejiujitsu" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="https://www.youtube.com/channel/UCAz3ZyJFnQmCJl0PyVce_4A" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <!-- <li>
                    <a href="http://picasaweb.google.com/dthomasjiujitsu" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-picture-o"></i>
                    </a>
                </li> -->
                <%# <li>|</li>%>

                <li>
                    <a href="https://plus.google.com/+JitsHappens" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <%# <li>|</li>%>

                <li>
                    <a href="http://www.instagram.com/davecthomas/" class="bjjt_footermenu" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>

            <li>
                <a href="http://www.seattlejiujitsu.com" target="_self" class=" ajjalignlower ajjnowraplogo bjjt_footermenu bjjt_footermenu_ajj ajjfont">SEAttlE JIu-JItsu<span class="ajjcopy ajj_hidetiny">© 2016&nbsp;</span>
                </a>

            </li>

        </ul>
    </div>
</div>
    <!--container-->
</nav>
<!--navbar-->
</footer>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/dist/js/ie10-viewport-bug-workaround.js"></script>
