<div class="container-fluid bjjt_header">
  <div class="row">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="triangle choke">
    </div>
    <button type="submit" class="btn-default btn"><span class="glyphicon glyphicon-search"></span></i></button>
      </form>
    <a href="#" class="navbar-brand"><span id="bjjt_brand"><%=bjjtech.general.title %>:&nbsp;</span><wbr/><span id="bjjt_tag"><%=bjjtech.general.tagline %></span>
</a>

</div>
</div>
