<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="panel panel-default" id="intro-bc">
            <h1 id="intro-bc-title">A technique for every position, with <span class="bjjt"><%=bjjtech_web.general.title %></span>. </h1>
            <div class="lead"><p>Get Tech from Str.
            </p></div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
