<% include ../partials/top %>
        <div class="container-fluid">
          <div class="row">
            <div class="panel panel-default content-panel panel-transparent">
                <h1 id="intro-bc-title">A technique for every position, with <span class="bjjt"><%=bjjtech.general.title %></span>. </h1>
                  <p class="bjjt_p">In a ground fight, you need to have base, mobility, and ability from every position.
                  Locksmiths pick locks. Jits fighters need to know how to untangle positions.
                  <%= bjjtech.general.dotcom %> is a lock-picking guide for Brazilian Jiu-Jitsu practitioners.
                </p>

            </div>
          </div>
        <div class="row">
          <div class="col-sm-3 panel panel-default content-panel">
            <h3>Topics</h3>
            <p><%
              var topics = JSON.parse(response);
              if (topics.status === 'success'){%>
                <%= "fuck yea" + topics.status %>
              <%
              } %>

          </p>
          </div>
          <div class="col-sm-3 panel panel-default content-panel"><h3>Techniques</h3></div>
          <div class="col-sm-6 panel panel-default content-panel"><h3>Detail</h3></div>
        </div>

      </div>
<% include ../partials/bottom %>
